
<!-- Delect Conform selector -->
<app-delete-confirm (onCancel)="cancel()" [item]="acno"></app-delete-confirm>
<!-- [item]:- child resive variable  "acno":-parent share data  -->

<h1>Welcome {{user}}</h1>

<div class="text-black mt-2 text center">
    <h5>{{datedetails | date:'short'}}</h5>
</div>
<div class=" p-2 ms-2 w-25 text-center rounded-pill " style="color: aliceblue;  background-color:rgba(0, 0, 0, 0.507); border: 2px solid rgb(125, 91, 91);">
    
    <a href="" routerLink="/transaction" style="color: rgb(218, 206, 207); font-size: 22px;">View transaction history</a>
</div >
<div class="text-center first me-5">
    <button class="btn btn-dark me-2 p-2 " type="button" (click)="deleteParent()" style="color: aliceblue;  background-color:rgba(0, 0, 0, 0.507); border: 2px solid rgb(125, 91, 91);">delete</button>
    <button class="btn btn-dark  p-2 " type="button" (click)="deleteParent()" style="color: aliceblue;  background-color:rgba(0, 0, 0, 0.507); border: 2px solid rgb(125, 91, 91);">logout</button>

</div>   
<div class="container w-75 p-2 mt-5">
    <div  [ngClass]="acno?'style':''" class="row text-center ">
        <!-- [ngclass:-attribue directives] -->
        <div class="col-5 p-3 main">
            <form action="" [formGroup]="depositform">
            <h1>Deposit</h1>
            <div>
                <input type="text" formControlName="acno" name="acnode" id="acno1" class="form-control p-2 mb-4  " placeholder="enter acno">
            </div>
            <div>
                <input type="text" formControlName="psw" name="passde" id="password1" class="form-control p-2 mb-4 " placeholder="enter password">
            </div>
            <div>
                <input type="text" formControlName="amt" name="amountde" id="amount1" class="form-control p-2 mb-4 " placeholder="amount">
            </div>
            <button class="btn btn-primary p-2" type="button" (click)="deposit()">deposit</button>
        </form>
        </div>
        <div class="col-2"></div>
        <div class="col-5 p-3 main">
            <form action="" [formGroup]="withdrawform">
            <h1>Withdraw</h1>
            <div>
                <input type="text" formControlName="acno1"name="acnow1" id="acno2" class="form-control p-2 mb-4 w- " placeholder="enter acno">
            </div>
            <div>
                <input type="text" formControlName="psw1" name="passwi" id="password2" class="form-control p-2 mb-4 " placeholder="enter password">
            </div>
            <div>
                <input type="text" formControlName="amt1" name="amonwi" id="amount2" class="form-control p-2 mb-4 " placeholder="amount">
            </div>
            <button class="btn btn-primary p-2" type="button" (click)="withdraw()">withdraw</button>
        </form>
        </div>
    </div>
</div>